node_modules
.env
.env.local
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Database
# Database
# Database
dev.db
*.sqlite
server/settings.json
server/data.json
server/dev.db
server/test_*.js
server/test_*.txt

# Uploads
server/uploads/*
!server/uploads/.gitkeep

# Editor
.vscode
.idea

# Build
client/dist
dist

# Secrets
hr-screening-*.json
Client ID.txt

# Local Netlify folder
.netlify
